<style type="text/css">
    input[type=radio] {
         display: inline-block;
    }
</style>

<div class="row" style="">
    <!--<div class="col-sm-4 successMessage"  ng-if="vmMaintenance.showConfirMsg"> Solr collection updated successfully </div>-->
    <div class="col-md-12 col-sm-12 col-lg-12 margin-bottom-10">
        <div class="search-txtbox col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px;">
            <b>Current Application State </b>
            <input type="radio" value="U" ng-model="vmMaintenance.isApplicationUp" name="appStatus" />Up
            <input type="radio" value="D" ng-model="vmMaintenance.isApplicationUp" name="appStatus" />Down
            <br/><br/>
            <b>Maintenance Message</b>
            <textarea id="solrCollectionName" type="text" ng-model="vmMaintenance.appStatusMessage" ng-maxlength="1000" placeholder="Write maintenance message here ..."
                      class="form-control search-user-txt"
                        style="height: 150px;"
                    />

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
        <button class="btn btn-primary" ng-click="vmMaintenance.saveMaintenanceMode();">Update Application Status</button>
        <br/><br/>
        <span class="bg-info"><small>*Maintenance message only appears when application status is set to DOWN</small></span>
        <br/><br/>
    </div>

</div>