<div id="content" class="group-panels">
    <div class="widget-body">
        <header role="heading">
            <div class="searchViewHeader">
                <h6 style="display:inline;">{{ vmTesterPayment.pageHeader }}</h6></div>
            <div id="tabsView" class="pull-right visible-sm-inline-block visible-lg-inline-block visible-md-inline-block ">

                <!--Page Heading Start-->

                <ul style="display:inline-flex;" class="nav nav-tabs pull-right in visible-lg " >
                    <li ng-class="{'active' : vmTesterPayment.isOption1}" ng-click="vmTesterPayment.selectOption1();" style="cursor:pointer;">
                        <a data-toggle="tab"><span class="visible-lg">Option 1</span></a>
                    </li>
                    <li ng-class="{'active' : vmTesterPayment.isOption2}" ng-click="vmTesterPayment.selectOption2();" style="cursor:pointer;">
                        <a data-toggle="tab"><span class="visible-lg">Option 2</span></a>
                    </li>
                </ul>

                <!--Page Heading End-->
                <div class="clearfix"></div>
            </div>
        </header>
        <div class="clearfix"></div>
        <br/>

        <div class="tab-content" ng-show="vmTesterPayment.isOption1">

            <div class="page-wrapper">

                <div class="row medmarginbottom nomargintop">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="well smallpaddingall nomargintop">Billing & Cost Management Dashboard</h3>
                    </div>
                </div>

                <div class="row medmarginbottom">

                    <div class="col-lg-6 col-md-6 col-sm-6">

                        <div class="panel-group" id="accordion1">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Spend Summary
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="spentSummary" style="height: 348px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="panel-group nomarginbottom" id="accordion2">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        Top Services by Usage
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="topServicesUsage" style="height: 348px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">

                        <div class="panel-group" id="accordion3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        Month-to-Date Spend by Service
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="spendByService" style="height: 348px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="panel-group nomarginbottom" id="accordion4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        Month-to-Date Top Services by Spend
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="monthToDate" style="height: 348px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

                </div>

                <div class="row medmarginbottom nomargintop">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="well minipaddingall">
                            <ul class="list-inline nomarginbottom">
                                <li><h3 class="nopaddingall nomarginall smallpaddingleft">Bills</h3></li>
                                <li><div class="dropdown nopaddingall nomarginall">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Date
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">January 2015</a></li>
                                        <li><a href="#">February 2015</a></li>
                                        <li><a href="#">March 2015</a></li>
                                        <li><a href="#">April 2015</a></li>
                                    </ul>
                                </div></li>
                            </ul>


                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="panel-group" id="accordion5">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            Spend Summary
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <table class="table table-hover table-condensed table-responsive">
                                            <thead>
                                            <tr>
                                                <th class="col-lg-9 col-md-9 col-sm-9"><h4 class="nomarginall nopaddingall"><strong>Summary</strong></h4></th>
                                                <th class="col-lg-3 col-md-3 col-sm-3"><h4 class="nomarginall nopaddingall"><strong>Amount ($)</strong></h4></th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr class="warning">
                                                <td><strong>Total</strong></td>
                                                <td><strong>$3,895</strong></td>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            <tr>
                                                <td>Testing Services</td>
                                                <td>2,400</td>
                                            </tr>
                                            <tr>
                                                <td>Data Transfer</td>
                                                <td>1,345</td>
                                            </tr>
                                            <tr>
                                                <td>Starage</td>
                                                <td>150</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- Option#1 -->

        <div class="tab-content" ng-show="vmTesterPayment.isOption2">

            <div class="page-wrapper">
                Option#2
            </div>
        </div><!-- Option#2 -->
    </div>
</div>

<script type="text/javascript" src="app/views/tester-payment/tester-payment.js"></script>