<div id="delete-popup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content filter-content-style">
			<div class="modal-body">
				<span> Do you want to remove all the filters?</span>
			</div>
			<div class="filter-style">
				<button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="vmSubHeader.removeAllFilters()">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>