<style>
   /*Do not remove these stylings from there*/
   #main-www{
      margin-top: -100px;
   }

 /*  Add further styling here or better add a external style sheet file link*/
</style>

<div class="container" id="main-www">


   <div class="row">
<!--*******************************************************************************-->
       <!-- Header from Free Template -->
       <div class=" header row">
        <div class="container">
           <div class="row">
               <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                       <ul class="nav nav-pills">
                           <li><a href=""><i class="fa fa-facebook"></i></a></li>
                           <li><a href=""><i class="fa fa-twitter"></i></a></li>
                           <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                           <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                           <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
        <div class="navbar navbar-inverse" role="banner">
           <div class="container">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>

                   <a class="navbar-brand" href="index.html">
                       <!--<h1><img src="../public/images/logo.png" alt="logo">TSaaS</h1>-->
                       <h1>TSaaS</h1>
                   </a>

               </div>
               <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                       <li class="active"><a href="/index">Home</a></li>
                       <li class="dropdown"><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                           <ul role="menu" class="sub-menu">
                               <li><a href="/aboutus">About</a></li>
                               <li><a href="/service">Services</a></li>
                               <li><a href="/pricing">Pricing</a></li>
                               <li><a href="/contact">Contact us</a></li>
                           </ul>
                       </li>
                       <li class="dropdown"><a href="#"> Login<i class="fa fa-angle-down"></i></a>
                           <ul role="menu" class="sub-menu">
                               <li><a href="/dashboard">Dashboard</a></li>
                               <li><a href="/settings">Settings</a></li>
                               <li><a href="/logout">Logout</a></li>
                           </ul>
                       </li>
                   </ul>
               </div>
               <div class="search">
                   <form role="form">
                       <i class="fa fa-search"></i>
                       <div class="field-toggle">
                           <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                       </div>
                   </form>
               </div>
           </div>
       </div>
       </div>


       <section id="home-slider">
           <div class="container">
               <div class="row">
                   <div class="main-slider">
                       <div class="slide-text">
                           <h1 style="font-size: 48px;">Testing as a Platform</h1>
                           <p  style="font-size: 24px;">Relax while the best test your app !</p>
                           <a href="/login" class="btn btn-common">SIGN UP | LOGIN</a>
                       </div>
                       <img src="styles/img/logo.png" class="slider-hill" alt="slider image">
                       <img src="styles/img/house.png" class="slider-house" alt="slider image">
                       <img src="styles/img/sun.png" class="slider-sun" alt="slider image">
                       <img src="styles/img/birds1.png" class="slider-birds1" alt="slider image">
                       <img src="styles/img/birds2.png" class="slider-birds2" alt="slider image">
                   </div>
               </div>
           </div>
           <!--Commented out preloader, since it is having trouble rendering-->
           <!--<div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>-->
       </section>
       <!--/#home-slider-->

       <section id="services">
           <div class="container">
               <div class="row">
                   <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                       <div class="single-service">
                           <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                               <img src="styles/img/icon1.png" alt="">
                           </div>
                           <h2>Low Test Cost</h2>
                           <p>Enjoy the lowest software test cost ever ! Choose from our thousands of best testers from around the world. </p>
                       </div>
                   </div>
                   <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                       <div class="single-service">
                           <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                               <img src="styles/img/icon2.png" alt="">
                           </div>
                           <h2>More Development Focus</h2>
                           <p>We focus on finding and helping fix bugs for you while you focus on incremental development!</p>
                       </div>
                   </div>
                   <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                       <div class="single-service">
                           <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                               <img src="styles/img/icon3.png" alt="">
                           </div>
                           <h2>Bug Free Software</h2>
                           <p>Be confident while realeasing your software to the public, its bug free and well tested by REAL people!</p>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <!--/#services-->

       <section id="action" class="responsive">
           <div class="vertical-center">
               <div class="container">
                   <div class="row">
                       <div class="action take-tour">
                           <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                               <h1 class="title">More reasons to rely on TSaaS</h1>
                               <p>It's the best testing platform ever!</p>
                           </div>
                          <!-- <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                               <div class="tour-button">
                                   <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                               </div>
                           </div>-->
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <!--/#action-->

       <section id="features">
           <div class="container">
               <div class="row">
                   <div class="single-features">
                       <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                           <img src="styles/img/image1.png" class="img-responsive" alt="">
                       </div>
                       <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                           <h2>Experienced and Enthusiastic Testers</h2>
                           <P>Thousands of world's best app testers are on TSaaS. Get in touch with them - they will help you decrease your testing cost exponentially!</P>
                       </div>
                   </div>
                   <div class="single-features">
                       <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                           <h2>Collaborative Environment</h2>
                           <P>TSaaS provides a comprehensive collaborateive environment to work with your remote testers! Dream big!</P>
                       </div>
                       <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                           <img src="styles/img/image2.png" class="img-responsive" alt="">
                       </div>
                   </div>
                   <div class="single-features">
                       <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                           <img src="styles/img/image3.png" class="img-responsive" alt="">
                       </div>
                       <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                           <h2>Less Effort More Work Done</h2>
                           <P>Now you don't have to hire a testing team on site. You have the testing all over the world on TSaaS. Upload your app and they will start testing it without you having to push them to work!</P>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <!--/#features-->

       <section id="clients">
           <div class="container">
               <div class="row">
                   <div class="col-sm-12">
                       <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                           <p><img src="styles/img/clients.png" class="img-responsive" alt=""></p>
                           <h1 class="title">How it works for App Providers / Developers </h1>
                           <p>These simple easy steps help you understand how can you get your app tested in few hours!</p>
                       </div>
                       <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client1.png" class="img-responsive" alt=""></a>
                               <h3>Sign Up</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client2.png" class="img-responsive" alt=""></a>
                               <h3>Upload App</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client3.png" class="img-responsive" alt=""></a>
                               <h3>Find Tester</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client4.png" class="img-responsive" alt=""></a>
                               <h3>Settle Rates & Bugs Levels</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client5.png" class="img-responsive" alt=""></a>
                               <h3>Get Tested</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client6.png" class="img-responsive" alt=""></a>
                               <h3>Bug Free App Ready for Deployment</h3>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <!--/#clients-->


       <section id="testers">
           <div class="container">
               <div class="row">
                   <div class="col-sm-12">
                       <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                           <p><img src="styles/img/clients1.png" class="img-responsive" alt=""></p>
                           <h1 class="title">How it works for Testers </h1>
                           <p>These simple easy steps help you understand how can earn $$$ by testing apps!</p>
                       </div>
                       <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client1.png" class="img-responsive" alt=""></a>
                               <h3>Sign Up</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client22.png" class="img-responsive" alt=""></a>
                               <h3>Upload Resume</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client33.png" class="img-responsive" alt=""></a>
                               <h3>Add Skill Sets & Work History</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client44.png" class="img-responsive" alt=""></a>
                               <h3>Find Projects / Accept Offers</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client55.png" class="img-responsive" alt=""></a>
                               <h3>Test App - Report Bugs</h3>
                           </div>
                           <div class="col-xs-3 col-sm-2">
                               <a href="#"><img src="styles/img/client66.png" class="img-responsive" alt=""></a>
                               <h3>Make $$$!</h3>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <!--/#clients-->






       <footer id="footer">
           <div class="container">
               <div class="row">
                   <div class="col-sm-12 text-center bottom-separator">
                       <img src="styles/img/under.png" class="img-responsive inline" alt="">
                   </div>
                   <div class="col-md-4 col-sm-6">
                       <div class="testimonial bottom">
                           <h2>Testimonial</h2>
                           <div class="media">
                               <div class="pull-left">
                               </div>
                               <div class="media-body">
                               </div>
                           </div>
                           <div class="media">
                               <div class="pull-left">
                               </div>
                               <div class="media-body">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6">
                       <div class="contact-info bottom">
                           <h2>Contacts</h2>
                           <address>
                               E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                               Phone: +1 (123) 456 7890 <br>
                               Fax: +1 (123) 456 7891 <br>
                           </address>

                           <h2>Address</h2>
                           <address>
                               Unit C2, St.Vincent's Trading Est., <br>
                               Feeder Road, <br>
                               Bristol, BS2 0UY <br>
                               United Kingdom <br>
                           </address>
                       </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                       <div class="contact-form bottom">
                           <h2>Send a message</h2>
                           <form id="main-contact-form" name="contact-form" method="post" action="../../../Desktop/triangle-free-responsive-multipurpose-template/template/multicolor/sendemail.php">
                               <div class="form-group">
                                   <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                               </div>
                               <div class="form-group">
                                   <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                               </div>
                               <div class="form-group">
                                   <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                               </div>
                               <div class="form-group">
                                   <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                               </div>
                           </form>
                       </div>
                   </div>
                   <div class="col-sm-12">
                       <div class="copyright-text text-center">
                           <p>&copy;Cloud-Team 2015. All Rights Reserved.</p>
                           <p>Designed by <a target="_blank" href="#">SJSU - Team Reflex - Fall 2015</a></p>
                       </div>
                   </div>
               </div>
           </div>
       </footer>
       <!--/#footer-->
       <!-- MainController -->
       <script type="text/javascript" src="app/views/www/wow.min.js"></script>

       <script type="text/javascript" src="app/views/www/lightbox.min.js"></script>
       <script type="text/javascript" src="app/views/www/index_controller.js"></script>


       <!--*******************************************************************************/END-->
   </div>

<!--
   <h2>There should be a sign in link which will take the user to the login page in a separate window</h2>

   <a target='_blank' ui-sref="app.login">Sign In</a> or <a target='_blank' href=''> Sign Up</a>

</div>
-->
