<style>
   /*Do not remove these stylings from there*/
   #main-www{
      margin-top: -100px;
   }

 /*  Add further styling here or better add a external style sheet file link*/

</style>
<div class="container" id="main-www">

   <div class="row">
      The website will come here....
   </div>

   <h2>There should be a sign in link which will take the user to the login page in a separate window</h2>

   <a target='_blank' ui-sref="app.login">Sign In</a> or <a target='_blank' href=''> Sign Up</a>

</div>
