
<div id="content" class="dashboard group-panels">
    <div class="widget-body">
        <header role="heading">
            <div class="searchViewHeader">
                <h6 style="display:inline;">{{ vmAdminDashboard.pageHeader }}</h6></div>
             <div id="tabsView" class="pull-right visible-sm-inline-block visible-lg-inline-block visible-md-inline-block ">

                 <!--Page Heading Start-->

              <ul style="display:inline-flex;" class="nav nav-tabs pull-right in visible-lg " >
                  <li ng-class="{'active' : vmAdminDashboard.isDashboardView}" ng-click="vmAdminDashboard.selectDashboardView();" style="cursor:pointer;">
                      <a data-toggle="tab"><span class="visible-lg">Home</span></a>
                  </li>

                  <li ng-class="{'active' :vmAdminDashboard.isReportView}" ng-click="vmAdminDashboard.selectReportDataView();" style="cursor:pointer;">
                    <a data-toggle="tab"><span class="visible-lg">Report</span></a>                                        
                  </li>

            </ul>

                 <!--Page Heading End-->
           <div class="clearfix"></div>
             </div>
        </header>


        <div class="tab-content padding-10">
            <div class="tab-pan fade in active">
                <div ng-if="!vmAdminDashboard.isReportView">
                </div>

            </div>
        </div>

        <div class="tab-content" ng-show="vmAdminDashboard.isDashboardView">

            <div class="page-wrapper">
                <!-- /.row -->

                <!--BIG BOXES-->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--<div class="huge">26</div>-->
                                        <div><h2>Projects</h2></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" ui-sref="app.profile">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <a ui-sref="app.profile"><span class="pull-right">
                                        10,639
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-orange">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-android fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div><h2>Android</h2></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" ui-sref="app.profile">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <a ui-sref="app.profile"><span class="pull-right">
                                        5,788
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3" id="badge-list">
                                        <i class="fa fa-windows fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div><h2>Windows</h2></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" ui-sref="app.profile">
                                <div class="panel-footer">
                                    <span class="pull-left">Overall Rating</span>
                                    <a ui-sref="app.profile"><span class="pull-right">
                                        1,359
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-apple fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div><h2>Apple</h2></div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" ui-sref="app.payment">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <a ui-sref="app.payment"><span class="pull-right">
                                        3,492
                                        <i class="fa fa-arrow-circle-right"></i></span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div id="projectSummary">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-orange">
                            <div id="androidSummary">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div id="windowsSummary">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div id="iPhoneSummary">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div id="projectRevenue">
                                <div style="font-size: 3em; text-align: center; background-color: #337ab7;color:#fff">$36,290</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-orange">
                            <div id="androidRevenue">
                                <div style="font-size: 3em; text-align: center;">$16,175</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div id="windowsRevenue">
                                <div style="font-size: 3em; text-align: center">$5,793</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div id="iphoneRevenue">
                                <div style="font-size: 3em; text-align: center">$14,322</div>
                            </div>

                        </div>
                    </div>
                </div>




                <div class="row">

                    <div class="col-lg-8 nested">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-search fa-fw"></i> Search Projects
                            </div>

                            <div class="panel-body">
                                <div class="input-group">

                                    <input type="text" class="input-group" placeholder="Search">

                                    <button type="button" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="panel panel-default">

                            <!--Deadlines-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-list fa-fw"></i> Deadlines
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="#">Action</a>
                                                </li>
                                                <li><a href="#">Another action</a>
                                                </li>
                                                <li><a href="#">Something else here</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                        </a>

                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            </div>

                                <!--Recommended Projects-->
                                <div class="panel-heading">
                                    <i class="fa fa-list fa-fw"></i> Recommended Projects
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="#">Action</a>
                                                </li>
                                                <li><a href="#">Another action</a>
                                                </li>
                                                <li><a href="#">Something else here</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                            <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                            </a>
                                            <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                            </a>
                                            <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                            </a>
                                            <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                            </a>
                                            <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> project_name
                                            <span class="pull-right text-muted small"><em>$incentive</em>
                                            </span>
                                            </a>

                                    </div>
                               <!-- /.panel-body -->
                                 </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-money fa-fw"></i> Payment Notification
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#">Action</a>
                                            </li>
                                            <li><a href="#">Another action</a>
                                            </li>
                                            <li><a href="#">Something else here</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>3326</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:29 PM</td>
                                                    <td>$321.33</td>
                                                </tr>
                                                <tr>
                                                    <td>3325</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:20 PM</td>
                                                    <td>$234.34</td>
                                                </tr>
                                                <tr>
                                                    <td>3324</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:03 PM</td>
                                                    <td>$724.17</td>
                                                </tr>
                                                <tr>
                                                    <td>3323</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:00 PM</td>
                                                    <td>$23.71</td>
                                                </tr>
                                                <tr>
                                                    <td>3322</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:49 PM</td>
                                                    <td>$8345.23</td>
                                                </tr>
                                                <tr>
                                                    <td>3321</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:23 PM</td>
                                                    <td>$245.12</td>
                                                </tr>
                                                <tr>
                                                    <td>3320</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:15 PM</td>
                                                    <td>$5663.54</td>
                                                </tr>
                                                <tr>
                                                    <td>3319</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:13 PM</td>
                                                    <td>$943.45</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                        </div>
                        <!-- /.panel -->
                    </div>
                            </div>
                        </div>



                    </div>


                    <div class="col-lg-4 nested">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-search fa-fw"></i> Search Projects
                            </div>

                            <div class="panel-body">
                                <div class="input-group">

                                    <input type="text" class="input-group" placeholder="Search">

                                <button type="button" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- /.col-lg-8 -->
                    <div class="col-lg-4 nested">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> Notifications Panel
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Offers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-envelope fa-fw"></i> Bug Report Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-shopping-cart fa-fw"></i> New Bid Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                    </a>
                                </div>
                                <!-- /.list-group -->
                                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>

                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>

        </div>



        <div class="tab-content" ng-show="vmAdminDashboard.isReportView">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-default">

                            <!--Deadlines-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-list fa-fw"></i> Reports
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Filter
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="#">Payment Reports</a>
                                                </li>
                                                <li><a href="#">Project Completeion Report</a>
                                                </li>
                                                <li><a href="#">Conflict Report</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="#">Usage Report</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> Annaul Report
                                            <span class="pull-right text-muted small"><em>Financial</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> Half Yearly Report
                                            <span class="pull-right text-muted small"><em>Financial</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> Quarter Report
                                            <span class="pull-right text-muted small"><em>Financial</em>
                                            </span>
                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> Completeion History
                                            <span class="pull-right text-muted small"><em>Project</em>
                                            </span>
                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> Conflict History - Annaul
                                            <span class="pull-right text-muted small"><em>Project</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> Conflict History - Last 6 Months
                                            <span class="pull-right text-muted small"><em>Project</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-folder-open fa-fw"></i> Conflict History - This Quarter
                                            <span class="pull-right text-muted small"><em>Project</em>
                                            </span>
                                        </a>



                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<script type="text/javascript" src="app/views/dashboardAdminView/admin-dashboard.js"></script>