<div id="content" class="group-panels">
    <div class="widget-body">
        <header role="heading">
            <div class="searchViewHeader">
                <h6 style="display:inline;">{{ vmProject.pageHeader }}</h6></div>
            <div id="tabsView" class="pull-right visible-sm-inline-block visible-lg-inline-block visible-md-inline-block ">

                <!--Page Heading Start-->

                <ul style="display:inline-flex;" class="nav nav-tabs pull-right in visible-lg " >
                    <li ng-class="{'active' : vmProject.isCurrentProjectView}" ng-click="vmProject.selectCurrentProjectView();" style="cursor:pointer;">
                        <a data-toggle="tab"><span class="visible-lg">Current Project</span></a>
                    </li>
                    <li ng-class="{'active' : vmProject.isPastProjectView}" ng-click="vmProject.selectPastProjectView();" style="cursor:pointer;">
                        <a data-toggle="tab"><span class="visible-lg">Past Project</span></a>
                    </li>
                </ul>

                <!--Page Heading End-->
                <div class="clearfix"></div>
            </div>
        </header>
        <div class="clearfix"></div>
        <br/>

        <div class="tab-content" ng-show="vmProject.isCurrentProjectView">
            <div class="page-wrapper">

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-purple">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12" id="badge-list">
                                        <i class="fa fa-star fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--<div><h2>8.3</h2></div>-->
                                    </div>
                                </div>
                            </div>
                            <a href="#" ui-sref="app.project.detail({projectId:1})">
                                <div class="panel-footer">
                                    <span class="pull-left">Project No.1</span>
                                    <a ui-sref="app.project.detail({projectId:1})"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-purple">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12" id="badge-list">
                                        <i class="fa fa-star fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--<div><h2>8.3</h2></div>-->
                                    </div>
                                </div>
                            </div>
                            <a href="#" ui-sref="app.project.detail({projectId:2})">
                                <div class="panel-footer">
                                    <span class="pull-left">Project No.2</span>
                                    <a ui-sref="app.project.detail({projectId:2})"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="tab-content" ng-show="vmProject.isPastProjectView">
            <div class="page-wrapper">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-beach">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12" id="badge-list">
                                        <i class="fa fa-star fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--<div><h2>8.3</h2></div>-->
                                    </div>
                                </div>
                            </div>
                            <a href="#" ui-sref="app.project.detail({projectId:1})">
                                <div class="panel-footer">
                                    <span class="pull-left">Project X</span>
                                    <a ui-sref="app.project.detail({projectId:1})"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-beach">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12" id="badge-list">
                                        <i class="fa fa-star fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--<div><h2>8.3</h2></div>-->
                                    </div>
                                </div>
                            </div>
                            <a href="#" ui-sref="app.project.detail({projectId:2})">
                                <div class="panel-footer">
                                    <span class="pull-left">Project Y</span>
                                    <a ui-sref="app.project.detail({projectId:2})"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="row">
                <div class="container-fluid"  ui-view="detail">
                </div>
            </div>
        </div>

    </div>
</div>
